
.player-details {
    margin-top: 100px;
  }
  
  .player {
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .player h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .player ul {
    list-style-type: none;
    padding: 0;
  }
  
  .player ul li {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .player ul li:first-child {
    font-weight: bold;
  }
  