<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Badminton</title>
    <link rel="icon" href= "/img/Logo.png" type="image/x-icon"/>
    <link href="https://fonts.googleapis.com/css2?family=Exo:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style/badmin.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="/img/logo.png" alt="Logo">
        </div>
        <nav>
            <nav>
                <a href="/homepage">Beranda</a>
                <a href="/category">Kategori</a>
                <a href="/schedulefut">Jadwal</a>
                <a href="/logout">LogOut</a>
            </nav>
    </header>

    <div class="match-form">
        <h3>Add Match</h3>
        <form id="addMatchForm" method="post" action="/submit_add_match_badmin">
            <input type="text" id="matchname" name="name" placeholder="Match name" required><br>
            <select id="matchType" name="type" required>
                <option value="" disabled selected>Match Type</option>
                <option value="Single">Single</option>
                <option value="Double">Double</option>
            </select><br>
            <input type="text" id="teamA" name="team_a" placeholder="Team A" required><br>
            <input type="text" id="teamB" name="team_b" placeholder="Team B" required><br>
            <input type="number" id="team1Set" name="team_1_set_win" placeholder="Team 1 Score" min="0">
            <input type="number" id="team2Set" name="team_2_set_win" placeholder="Team 2 Score" min="0"><br>

            <div class="set-detail">
                <label for="set1Team1">Set 1 Team 1:</label>
                <input type="number" id="set1Team1" name="set1_team1_score" placeholder="Score" min="0">
                <label for="set1Team2">Set 1 Team 2:</label>
                <input type="number" id="set1Team2" name="set1_team2_score" placeholder="Score" min="0">
            </div>
            <div class="set-detail">
                <label for="set2Team1">Set 2 Team 1:</label>
                <input type="number" id="set2Team1" name="set2_team1_score" placeholder="Score" min="0">
                <label for="set2Team2">Set 2 Team 2:</label>
                <input type="number" id="set2Team2" name="set2_team2_score" placeholder="Score" min="0">
            </div>
            <div class="set-detail">
                <label for="set3Team1">Set 3 Team 1:</label>
                <input type="number" id="set3Team1" name="set3_team1_score" placeholder="Score" min="0">
                <label for="set3Team2">Set 3 Team 2:</label>
                <input type="number" id="set3Team2" name="set3_team2_score" placeholder="Score" min="0">
            </div>

            <button class="detail-button">Add Match</button>
        </form>
    </div>

    <div id="editPopup" class="popup">
        <div class="popup-content">
            <span class="close">&times;</span>
            <h3>Edit Match</h3>
            <form id="editMatchForm" method="post" action="/submit_edit_match_badmin">
                <input type="hidden" id="editMatchId" name="id"><br>
                <input type="text" id="editMatchname" name="name" placeholder="Match name" required><br>
                <select id="editMatchType" name="type" required>
                    <option value="" disabled selected>Match Type</option>
                    <option value="Single">Single</option>
                    <option value="Double">Double</option>
                </select><br>
                <input type="text" id="editTeamA" name="team_a" placeholder="Team A" required><br>
                <input type="text" id="editTeamB" name="team_b" placeholder="Team B" required><br>
                <input type="number" id="editTeam1Set" name="team_1_set_win" placeholder="Team 1 Score" min="0">
                <input type="number" id="editTeam2Set" name="team_2_set_win" placeholder="Team 2 Score" min="0"><br>

                <div class="set-detail">
                    <label for="editSet1Team1">Set 1 Team 1:</label>
                    <input type="number" id="editSet1Team1" name="set1_team1_score" placeholder="Score" min="0">
                    <label for="editSet1Team2">Set 1 Team 2:</label>
                    <input type="number" id="editSet1Team2" name="set1_team2_score" placeholder="Score" min="0">
                </div>
                <div class="set-detail">
                    <label for="editSet2Team1">Set 2 Team 1:</label>
                    <input type="number" id="editSet2Team1" name="set2_team1_score" placeholder="Score" min="0">
                    <label for="editSet2Team2">Set 2 Team 2:</label>
                    <input type="number" id="editSet2Team2" name="set2_team2_score" placeholder="Score" min="0">
                </div>
                <div class="set-detail">
                    <label for="editSet3Team1">Set 3 Team 1:</label>
                    <input type="number" id="editSet3Team1" name="set3_team1_score" placeholder="Score" min="0">
                    <label for="editSet3Team2">Set 3 Team 2:</label>
                    <input type="number" id="editSet3Team2" name="set3_team2_score" placeholder="Score" min="0">
                </div>

                <button>Update Match</button>
            </form>
        </div>
    </div>

    <script src="/Projekan/badmin.js"></script>
</body>
</html>
