<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Player Details</title>
  <link href="https://fonts.googleapis.com/css2?family=Exo:wght@600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="homepage.css">
</head>
<body>
  <div class="container">
    <div id="logoBox"></div>
    <div class="Beranda">
      <a href="homepage.html">Beranda</a>
    </div>
    <div class="Kategori">
      <a href="category.html">Kategori</a>
    </div>
    <div class="login-text">
      <a href="login.html">Login</a>
    </div>
  <div class="header-line"></div>
</body>
</html>