<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>StatWeb</title>
  <link rel="stylesheet" href="landing.css">
</head>
<body>
  <div id="container">
    <div id="outerRectangle">
      <div id="logoBox"></div>
      <div id="innerRectangle">
        <span>Login</span>
      </div>
    </div>
    <div id="textLines">
      <div id="line1">Dive Into</div>
      <div id="line2">THE NUMBERS</div>
      <div id="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br>
      Integer massa massa, rhoncus ut semper eget, faucibus <br> eu nulla.</div>
      <div id="buttonContainer">
        <div id="loginButton" class="innerRectangleStyle">
          <button>Login</button>
        </div>
        <div id="guestText">
          <a href="homepage.html"><span>As a Guest</span></a>
        </div>
      </div>          
    </div>
  </div>  
  <script src="landing.js"></script>
</body>
</html>
