<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StatWeb Login</title>
    <link rel="icon" href= "/img/Logo.png" type="image/x-icon"/>
    <link rel="stylesheet" href="/style/login.css">
</head>

<body>
    <div class="login-page">  
        <div class="background-shape"></div> 
        <div class="login-container"> 
            <div class="logo">
                <img src="/img/logo.png" alt="StatWeb Logo">
                </div> <div class="form-container">
                <h2>Welcome Back!</h2>
                <p>Login to your account.</p>

                <form id="loginForm" method="post" action="/login">
                    <div class="input-group">
                        <input type="text" id="username" name="username" placeholder="Username" required>
                    </div>
                    <div class="input-group">
                        <input type="password" id="password" name="password" placeholder="Password" required>
                    </div>
                    <button type="submit">Login</button>
                </form>

                <div class="button-row">
                    <span class="or">or</span>
                    <a href="/register" class="register">Register</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
