<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StatWeb Register</title>
    <link rel="icon" href= "/img/Logo.png" type="image/x-icon"/>
    <link rel="stylesheet" href="/style/register.css"> 
</head>
<body>
    <div class="register-page">
        <div class="background-shape"></div>
        <div class="register-container">
            <img src="/img/logo.png" alt="StatWeb Logo">

            <div class="form-container">
                <h2>Join Us!</h2>
                <p>Create a new account.</p>

                <form id="registerForm" method="post" action="/register">
                    <div class="input-group">
                        <input type="text" id="username" name="username" placeholder="Username" required>
                    </div>
                    <div class="input-group">
                        <input type="email" id="email" name="email" placeholder="Email" required>
                    </div>
                    <div class="input-group">
                        <input type="password" id="password" name="password" placeholder="Password" required>
                    </div>
                    <button type="submit">Register</button>
                </form>

                <div class="button-row">
                    <span class="or">or</span>
                    <a href="/login" class="login">Login</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
