<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Exo:wght@600&display=swap" rel="stylesheet">
    <title>Jadwal Pertandingan Olahraga</title>
    <link rel="stylesheet" href="/style/schedule.css">
</head>
<body>

    <header>
        <nav>
            <a href="/homepage">Beranda</a>
            <a href="/category">Kategori</a>
            <a href="/schedulefut">Jadwal</a>
        </nav>
    </header>

    <main>
        <section class="sports-schedule">
            <h2>Jadwal Pertandingan Futsal</h2>
            <div class="date-info">
                <span class="date">May 12</span>
            </div>
            <div class="match-list">
                <div class="match">
                    <div class="match-time">12:00</div>
                    <div class="match-teams">
                        <div class="team">Tim A</div>
                        <span class="vs">VS</span>
                        <div class="team">Tim B</div>
                    </div>
                    <button class="detail-button">Detail Pertandingan</button>
                </div>
                <div class="match">
                    <div class="match-time">19:00</div>
                    <div class="match-teams">
                        <div class="team">Tim C</div>
                        <span class="vs">VS</span>
                        <div class="team">Tim D</div>
                    </div>
                    <button class="detail-button">Detail Pertandingan</button>
                </div>
            </div>
        </section>

        <section class="sports-schedule">
            <h2>Jadwal Pertandingan Basket</h2>
            </section>

        <section class="sports-schedule">
            <h2>Jadwal Pertandingan Badminton</h2>
            </section>
    </main>

</body>
</html>
